#linkercontainer{
    width: 49.5%;
    float:left;
    display: inline-block;
    float: left;
}

#rechtercontainer{
    width: 49.5%;
    float: right;
}

#funktionscontainer:after{
    content:"";
    display: table;
    clear: both;
}