body {
    height: 100%;
    padding-top: 70px;
}

#ausloggen{
    color:white;
}

#ausloggen:hover{
    background-color: #d91916;
}

.funktionsanzeige{
    width:100%;
    background-color: #55fc77;
    text-align: center;
}

#loggedinas{
    background-color: rgb(92,184,92);
    text-align: center;
    color: white;
}

#ausloggenli{
    margin-right: 15px;
}