<div style="padding:20px 0 0 0;">
    <h1 style="display: inline; ">FUNKTIONEN</h1>
    <button id="funktHinzuButton" style="display: inline;" type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button><hr>
</div>


<form class="form-horizontal" id="neuFunktform">
    <div class="form-group">
        <label for="f_id" class="col-sm-2 control-label">Neue Funktion:</label>
        <div class="col-sm-10">
            <select id="f_id"></select>
        </div>
    </div>
    <h4>Neues Mitglied erstellen</h4>
    <div class="form-group">
        <label for="vorname" class="col-sm-2 control-label">Vorname:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="vorname" value="Max">
        </div>
    </div>
    <div class="form-group">
        <label for="nachname" class="col-sm-2 control-label">Nachname:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="nachname" value="Mustermann">
        </div>
    </div>
    <div class="form-group">
        <label for="alter" class="col-sm-2 control-label">Geburtsdatum:</label>
        <div class="col-sm-10">
            <input type="datetime" class="form-control" id="alter" value="2016-10-03 00:00:00">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">E-Mail:</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" value="max@gmail.com">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Passwort:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" value="12345">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" id="saveMitglied" class="btn btn-default">Speichern</button>
        </div>
    </div>
    <hr>
    <h4>Funktion vergeben</h4>
    <div class="form-group">
        <label for="mitgliederid" class="col-sm-2 control-label">Mitgliederid:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="mitgliederid" value="">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" id="changeMitglied" class="btn btn-default">Speichern</button>
        </div>
    </div>
    <hr>
</form>

<div id="funktionscontainer"></div>

<script>
    $('#neuFunktform').hide();
    $(document).ready(function()
    {
        $('#funktHinzuButton').click(function(){
            var elementid = $('#neuFunktform');
            var isVisible = elementid.is(':visible');
            if(isVisible==true)
            {
                $('#neuFunktform').hide();
            }
            else{
                $('#neuFunktform').show();
            }
        });

        if(adminrechte == 1) {
            $.ajax({
                url:"http://127.0.0.1/insyendprojekt4b/bootstrap-3.3.5/dist/funktionen.php",
                type: "GET",
                data: {}
            }).done(function(data){
                $('#f_id').append(data);
            });
        }
        else{
            $('#funktHinzuButton').hide();
        }

        $.ajax({
            url:"http://127.0.0.1/insyendprojekt4b/bootstrap-3.3.5/dist/funktion.php",
            type: "GET",
            data: {m_id: m_id}
        }).done(function(data){
            $('#funktionscontainer').append(data);
        });

        $('#saveMitglied').click(function(){
            var vorname=$('#vorname').val();
            var nachname=$('#nachname').val();
            var gebdate=$('#alter').val();
            var email=$('#email').val();
            var passwort=$('#password').val();
            var f_id=$('option:selected').attr('data-id');
            alert(f_id);
            $.ajax({
                url:"http://127.0.0.1/insyendprojekt4b/bootstrap-3.3.5/dist/funktInsert.php",
                type: "GET",
                data: {vorname: vorname, nachname: nachname, gebdate: gebdate, email: email, passwort:passwort, f_id:f_id}
            }).done(function(data){
                $('#content').load('./funktion.html');
            });
        });
        $('#changeMitglied').click(function(){
            var mid=$('#mitgliederid').val();
            var f_id=$('option:selected').attr('data-id');
            alert(f_id);
            $.ajax({
                url:"http://127.0.0.1/insyendprojekt4b/bootstrap-3.3.5/dist/changeMitglied.php",
                type: "GET",
                data: {mid: mid, f_id: f_id}
            }).done(function(data){
                $('#content').load('./funktion.html');
            });
        });
    });
</script>