<div class="loginmodal-container" id="login" style="margin-top:20px">
    <h1>Login</h1><br>
    <p id="falscheEingabe">E-Mail oder Passwort ist falsch!</p>
    <input type="text" id="eEmail" name="user" placeholder="E-Mail" value="julian@gmail.com"/>
    <input type="password" id="ePasswort" name="pass" placeholder="Passwort" value="12345">
    <button type="submit" class="loginmodal-submit buttonzumeinloggen" onclick="einloggen()">Login</button>

    <div class="login-help">
        <a href="#">Register</a> - <a href="#">Forgot Password</a>
    </div>
</div>

<script>
    $("#falscheEingabe").hide();
    $("#navelemente").hide();
    function einloggen()
    {
        $.ajax({
            url:"http://127.0.0.1/insyendprojekt4b/bootstrap-3.3.5/dist/login.php",
            type: "GET",
            data:{email: $("#eEmail").val(), passwort: $("#ePasswort").val()}
        }).done(function(data){
            $('#loggedinas').append(data);
            if(success == 1){
                $("#content").load("./news.html");
                $("#navelemente").show();
                $("#loggedinas").show().empty().append("<p>Angemeldet: "+vorname+" "+nachname+" - "+funktion+"</p>");
            }
            else{
                $("#falscheEingabe").show();
            }
        });
    }
</script>