<div style="padding:20px 0 0 0;">
    <h1 style="display: inline; ">News</h1>
    <button id="newsHinzuButton"style="display: inline;" type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#neueNewsModal">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
    <form style="display: inline; float: right; padding-top: 9px;">
            <label>Anzahl der Beiträge: </label>
        <input type="number" id="anzBeitraege" value="10" style="width:50px" max="1000" min="0" onkeydown="changeB()"/>
    </form>
</div>


<!-- Modal -->
<div class="modal fade" id="neueNewsModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Erstellen einer Neuigkeit</h4>
            </div>
            <div class="modal-body">
                <form>
                    <fieldset class="form-group">
                        <label for="newsTitel">Titel</label>
                        <input type="text" class="form-control" id="newsTitel" placeholder="Geben sie eine passende Überschrift ein">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="newsText">Beschreibung</label>
                        <textarea class="form-control" id="newsText" rows="10" placeholder="Beschreiben Sie ihre Neuigkeit etwas näher..."></textarea>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="saveNews">Speichern</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div id="newscontainer"></div>

<script>
    $(document).ready(function(){
        if(adminrechte == 0)
        {
            $('#newsHinzuButton').hide();
        }
    });

    $.ajax({
        url:"http://127.0.0.1/insyendprojekt4b/bootstrap-3.3.5/dist/news.php",
        type: "GET",
        data: {anzB: $('#anzBeitraege').val()}
    }).done(function(data){
        $('#newscontainer').append(data);
    });

    function changeB()
    {
        $('#newscontainer').empty();
        $.ajax({
            url:"http://127.0.0.1/insyendprojekt4b/bootstrap-3.3.5/dist/news.php",
            type: "GET",
            data: {anzB: $('#anzBeitraege').val()}
        }).done(function(data){
            $('#newscontainer').append(data);
        });
    }

    $('#saveNews').click(function(){
        var titel=$('#newsTitel').val();
        var text=$('#newsText').val();
        $.ajax({
            url:"http://127.0.0.1/insyendprojekt4b/bootstrap-3.3.5/dist/newsInsert.php",
            type: "GET",
            data: {titel: titel, text: text, m_id: m_id}
        }).done(function(data){
            $('#newscontainer').append(data);
            $.ajax({
                url:"http://127.0.0.1/insyendprojekt4b/bootstrap-3.3.5/dist/news.php",
                type: "GET",
                data: {anzB: $('#anzBeitraege').val()}
            }).done(function(data){
                $('#newscontainer').empty().append(data);
            });
        });
    });
</script>
