<div style="padding:20px 0 0 0;">
    <h1 style="display: inline; ">Umfragen</h1>
    <button id="umfrageHinzuButton" style="display: inline;" type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button><hr>
</div>

<form class="form-horizontal" id="neuUmfrageform">
    <div class="form-group">
        <label for="umfrageTitel" class="col-sm-2 control-label">Umfrage:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="umfrageTitel" value="Wie glücklich sind sie gerade?">
        </div>
    </div>
    <div class="form-group">
        <label for="antwort1" class="col-sm-2 control-label">1. Antwort:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="antwort1" value="sehr">
        </div>
    </div>
    <div class="form-group">
        <label for="antwort2" class="col-sm-2 control-label">2. Antwort:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="antwort2" value="schon etwas">
        </div>
    </div>
    <div class="form-group">
        <label for="antwort3" class="col-sm-2 control-label">3. Antwort:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="antwort3" value="Naja">
        </div>
    </div>
    <div class="form-group">
        <label for="antwort4" class="col-sm-2 control-label">4. Antwort:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="antwort4" value="Gar nicht!">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" id="saveUmfrage" class="btn btn-default">Speichern</button>
        </div>
    </div>
    <hr>
</form>

<div id="umfragencontainer"></div>

<script>
    $('#neuUmfrageform').hide();
    $(document).ready(function()
    {

        $('#umfrageHinzuButton').click(function(){
            var elementid = $('#neuUmfrageform');
            var isVisible = elementid.is(':visible');
            if(isVisible==true)
            {
                $('#neuUmfrageform').hide();
            }
            else{
                $('#neuUmfrageform').show();
            }
        });

        if(adminrechte == 0)
        {
            $('#umfrageHinzuButton').hide();
        }

        $.ajax({
            url:"http://127.0.0.1/insyendprojekt4b/bootstrap-3.3.5/dist/umfragen.php",
            type: "GET",
            data: {m_id: m_id, adminrechte: adminrechte}
        }).done(function(data){
            $('#umfragencontainer').append(data);

            $('.entscheidung').click(function(){
                var a_id=$(this).data('aid');
                var u_id=$(this).parent().parent().data('uid');

                $.ajax({
                    url:"http://127.0.0.1/insyendprojekt4b/bootstrap-3.3.5/dist/beantwUmfragen.php",
                    type: "GET",
                    data: {m_id: m_id, u_id: u_id, a_id: a_id}
                }).done(function(data) {
                    $("#content").load("./umfragen.html");
                });
            });
        });

        $('#saveUmfrage').click(function(){
            var umfrage=$('#umfrageTitel').val();
            var antwort1=$('#antwort1').val();
            var antwort2=$('#antwort2').val();
            var antwort3=$('#antwort3').val();
            var antwort4=$('#antwort4').val();
            $.ajax({
                url:"http://127.0.0.1/insyendprojekt4b/bootstrap-3.3.5/dist/umfrageInsert.php",
                type: "GET",
                data: {umfrage: umfrage,antwort1:antwort1, antwort2:antwort2, antwort3:antwort3, antwort4:antwort4, m_id: m_id}
            }).done(function(data){
                $('#content').load('./umfragen.html');
            });
        });
    });

</script>