<div style="padding:20px 0 0 0;">
    <h1 style="display: inline; ">Veranstaltungen</h1>
    <button id="veranstHinzuButton" style="display: inline;" type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button><hr>
</div>

<form class="form-horizontal" id="neuVeranstform">
    <div class="form-group">
        <label for="veranstTitel" class="col-sm-2 control-label">Veranstaltung:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="veranstTitel" value="Geburtstagsfeier">
        </div>
    </div>
    <div class="form-group">
        <label for="veranstalter" class="col-sm-2 control-label">Veranstalter:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="veranstalter" value="Max Mustermann">
        </div>
    </div>
    <div class="form-group">
        <label for="veranstDate" class="col-sm-2 control-label">Datum:</label>
        <div class="col-sm-10">
            <input type="datetime" class="form-control" id="veranstDate" value="2016-10-03">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" id="saveVeranstaltungen" class="btn btn-default">Speichern</button>
        </div>
    </div>
    <hr>
</form>

<div id="veranstaltungscontainer"></div>

<script>
    $('#neuVeranstform').hide();
    $(document).ready(function()
    {
        $('#veranstHinzuButton').click(function(){
            var elementid = $('#neuVeranstform');
            var isVisible = elementid.is(':visible');
            if(isVisible==true)
            {
                $('#neuVeranstform').hide();
            }
            else{
                $('#neuVeranstform').show();
            }
        });

        if(adminrechte == 0)
        {
            $('#veranstHinzuButton').hide();
        }

        $.ajax({
            url:"http://127.0.0.1/insyendprojekt4b/bootstrap-3.3.5/dist/veranstaltungen.php",
            type: "GET",
            data: {m_id: m_id, adminrechte: adminrechte}
        }).done(function(data){
            $('#veranstaltungscontainer').append(data);

            $('.zuoderabsage').click(function(){
                var teilnahme=$(this).data('teilnahme');
                var v_id=$(this).parent().parent().data('vid');

                $.ajax({
                    url:"http://127.0.0.1/insyendprojekt4b/bootstrap-3.3.5/dist/beantwVeranstaltungen.php",
                    type: "GET",
                    data: {m_id: m_id, v_id: v_id, teilnahme: teilnahme}
                }).done(function(data) {
                    $("#content").load("./veranstaltungen.html");
                });
            });
        });

        $('#saveVeranstaltungen').click(function(){
            var veranstaltung=$('#veranstTitel').val();
            var veranstalter=$('#veranstalter').val();
            var veranstDate=$('#veranstDate').val();
            $.ajax({
                url:"http://127.0.0.1/insyendprojekt4b/bootstrap-3.3.5/dist/veranstInsert.php",
                type: "GET",
                data: {veranstaltung: veranstaltung, veranstalter: veranstalter, veranstDate: veranstDate, m_id: m_id}
            }).done(function(data){
                $('#content').load('./veranstaltungen.html');
            });
        });
    });

</script>